<nav class="col-2 d-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'Dashboard', dashboard_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Posts', posts_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
