<div class="row">
  <div class="col-9">
    <h4>Dashboard</h2>
    <div class="card">
      <div class="card-body">
        <%= render "posts/form", post: Post.new %>
      </div>
    </div>
  </div>

  <div class="col-3">
    <h4>Upcoming</h2>
    <%= turbo_stream_from :upcoming_posts %>
    <%= turbo_frame_tag :upcoming_posts, src: upcoming_posts_dashboard_path, lazy: true %>
  </div>
</div>
