<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<div class="d-flex justify-content-between">
  <h4>Posts</h4>
  <%= link_to "New post", new_post_path %>
</div>

<div id="posts">
  <table class="table table-hover">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Draft</th>
      <th scope="col">Scheduled</th>
      <th scope="col">Published</th>
      <th scope="col"></th>
      <th scope="col">Body</th>
      <th scope="col"></th>
    </thead>
    <tbody class="table-group-divider">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @posts %>
</div>
